.main-sidenav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__sidenav {
    width: 230px;

    &__list {
      padding: 0;

      .sub-header {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin: 0;
      }

      .entry {
        padding: 0.75rem 2rem;
      }
    }
  }


}

mat-sidenav-content {
  padding-left: 20px;
  padding-right: 20px;
}
